# Godot 4+ specific ignores
.godot/
/android/
resources/fractal previews/
videos/
layers/
CLAUDE.md
formulas/*dupe*

export/godot-export/*
!export/godot-export/.gitkeep
export/build/*
!export/build/.gitkeep
